body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.navBar {
  width: 100%;
  background-color: #00897b;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}

.navbar-right {
  position: relative;
  top: 0.6em;
}

.innlogging {
  margin: 0 1em;
}

.lenke {
  text-decoration: none;
  color: black;
}

.app-container {
  max-width: 80%;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.container {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  margin: 1em;
}

header {
  background: lightgrey;
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.ny-vare {
  padding: 1em 0 1em 1em;
  input {
    width: 90%;
    padding: 0.7em 0 0.7em 0.5em;
    box-sizing: border-box;
    background: transparent;
    font-size: 1em;
    border: 1px solid #00897b;
    &:focus {
      outline: none;
      box-shadow: 0 0 10px #00897b;
    }
  }
}

#gjeldendeHandleliste {
  margin-left: 0.3em;
}

.gjeldendeHandlelisteKnapp {
  background-color: #888;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.icon-knapp {
  background: none;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.slettHandleliste {
  float: right;
  font-weight: bold;
  position: relative;
  font-size: 1em !important;

  .material-icons {
    font-size: 1em !important;
  }
}

.vare-checkbox {
  display: none;
}

.handlelisteItemWrapper {
  position: relative;
  list-style: none;
  width: 15em;
  border-bottom: 1px solid white;
}

.handlelisteItem {
  padding: 1em;
  font-size: 16px;
  width: 100%;
  text-align: left;
  border-width: 0 !important;
  &:hover {
    background-color: #888;
  }
  &:focus {
    outline: none;
  }
}

.ny-handleliste-input {
  padding: 1em;
  font-size: 16px;
}

.margin-left {
  margin-left: 1em;
}

.nyHandleliste {
  color: #00897b;
}

li {
  position: relative;
  list-style: none;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

.varelinje {
  padding: 0.5em;
}

.utfoert {
  color: #888;
}

.utfoert .varenavn {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  &.nowrap {
    flex-wrap: nowrap;
  }
}

.skal-slette-handleliste {
  padding: 1em;
  background-color: buttonface;
  display: flex;
  justify-content: space-between;
}

.drag-handle {
  position: relative;
  top: 0.1em;
  color: #00897b;
}

.vare-wrapper {
  border-bottom: 1px solid;
  padding: 0.25em 0;
}

@media only screen and (max-device-width: 480px) {

  body {
    font-size: 40px;
  }

  .app-container {
    max-width: 100%;
    margin: 0 auto;
    min-height: 100%;
    background: white;
  }

  .hjem-lenke {
    font-size: 1.5em !important;
  }

  #gjeldendeHandleliste {
    width: 100%;
  }

  .alleHandlelister {
    .handlelisteItemWrapper {
      width: 100vw;
    }
  }

  .handlelisteItem {
    font-size: 40px;
  }

  .icon-knapp {
    font-size: 0.7em;
  }

  .material-icons {
    font-size: 2em;
  }

  .drag-handle {
    top: 0.07em;
  }

  .ny-handleliste-input {
    font-size: 40px;
  }

  .slett-nei {
    margin-left: 0.5em;
  }
}
