
.mdl-layout__header-row {
  background-color: #00897b !important;
}

.mdl-layout__drawer {
  color: #ffffff !important;
  background: #2f2f2f !important;
  border-right: 1px solid #555555 !important;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #00cab5 !important;
  font-weight: bold !important;
  &:hover {
    background-color: #626262 !important;
  }
}

.navBar {
  width: 100%;
  background-color: #00897b;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}

.navbar-right {
  position: relative;
  top: 0.6em;
}

.innlogging {
  margin: 0 1em;
}

.lenke {
  text-decoration: none;
  color: black;
}

.app-container {
  max-width: 80%;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.container {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  margin: 1em;
}

header {
  background: lightgrey;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.ny-vare {
  margin: -0.5em 0.5em;
}

.gjeldendeHandlelisteKnapp {
  background-color: #acacac;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.icon-knapp {
  background: none;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.slettHandleliste {
  float: right;
  font-weight: bold;
  position: relative;
  font-size: 1em !important;

  .material-icons {
    font-size: 1em !important;
  }
}

.vare-checkbox {
  display: none;
}

.handlelisteItemWrapper {
  position: relative;
  list-style: none;
  width: 15em;
  border-bottom: 1px solid white;
}

.handlelisteItem {
  padding: 1em;
  font-size: 16px;
  width: 100%;
  text-align: left;
  border-width: 0 !important;
  &:hover {
    background-color: #b4b4b4;
  }
  &:focus {
    outline: none;
  }
}

.ny-handleliste-input {
  font-size: 16px;
  width: 1px;
  visibility: hidden;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  &.transition {
    padding: 0.5em;
    visibility: visible;
    width: 10em;
  }
}

.ny-handleliste-knapp {
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.knapp-animation {
  position: absolute;
  left: 14em;
  bottom: 1em;
}

.margin-left {
  margin-left: 1em;
}

.nyHandleliste {
  color: #00897b;
}

li {
  position: relative;
  list-style: none;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

.varelinje {
  padding: 0.5em;
}

.utfoert {
  color: #888;
}

.utfoert .varenavn {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  &.nowrap {
    flex-wrap: nowrap;
  }
}

.skal-slette-handleliste {
  padding: 1em;
  background-color: buttonface;
  display: flex;
  justify-content: space-between;
}

.space-between {
  justify-content: space-between;
}

.innhold-blokk {
  padding: 0 1em;
  > :last-child {
    margin-bottom: 0.5em;
  }
}

.drag-handle {
  position: relative;
  top: 0.3em;
  color: #00897b;
}

.vare-wrapper {
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 0.25em 0;
  margin: 0 0.5em;
}

@media only screen and (max-device-width: 480px) {

  .app-container {
    max-width: 100%;
    margin: 0 auto;
    min-height: 100%;
    background: white;
  }

  .alle-handlelister {
    .handlelisteItemWrapper {
      width: 100vw;
    }
  }

}
